.homeContainer {
    .s1 {
        display: flex;
        align-items: center;
        
        .s1Container {
            display: flex;
            flex-direction: column;

            .s1Texto {
                font-family: 'Jost', sans-serif;
                font-weight: 800;
                font-size: 36px;
                text-align: start;
                padding-left: 19rem;
            }
            
            .s1Btn {
                text-align: center;
                padding: 10px 10px;
                
                margin-top: 5%;
                margin-left: 62%;
                margin-right: 21%;
                
                border: solid 1px black;
                color: black;
                text-decoration: none;
                
                
                font-family: 'Jost', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
        }

        div {
            .s1Img {
                max-width: 600px;
                padding-right: 8rem;
            }
        }
    }

    .s2 {
        height: 100vh;
        
        .s2Titulo {
            text-align: center;
            margin-top: 5%;
            font-size: 42px;
            font-family: 'Jost', sans-serif;
            font-weight: 900;
        }

        .s2Filtros {
            display: flex;
            gap: 4em;
            justify-content: center;
            
            .filtrosItem {
                text-decoration: none;
                color: black;
                font-family: 'Jost', sans-serif;
                font-weight: 900;
                font-size: 18px;
            }
        }

        .s2Imgs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 15px;
            gap: 100px;
            font-family: 'Jost', sans-serif;
            font-size: 15px;

            .s2ImgsPrimeira {
                margin-top: 30px;
            }
            
            .s2ImgsTerceira {
                margin-top: 25px;
            }

            .s2ImgsContainerDentro {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .s2Imgs2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 15px;
            gap: 100px;
            font-family: 'Jost', sans-serif;
            font-size: 15px;
            
            .s2ImgsContainerDentro2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .s2Imgs2Primeira {
                margin-top: 2px;
            }
        }
    }

    .s3 {
        height: 100vh;
        background-image: url(../../assets/images/section03.png);
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 100px;
        position: relative;
        
        .s3Titulo {
            color: white;
            position: absolute;
            top: 300px;
            left: 70px;
            font-size: 30px;
            margin-right: 23em;
            font-family: 'Jost', sans-serif;
            font-weight: 300;
        }
        
        .s3Btn {
            text-decoration: none;
            position: absolute;
            top: 430px;
            left: 80px;
            color: white;
            font-family: 'Jost', sans-serif;
            border: 1px solid white;
            padding: 20px;
        }
    }
}

@media(max-width: 1220px) {
    .homeContainer {
        .s1 {
            .s1Container {
                .s1Texto {
                    display: none;
                }

                .s1Btn {
                    display: none;
                }
            }

            div {
                .s1Img{
                    display: none;
                }
            }
        }

        .s2 {
            .s2ImgsResponsiva {
                display: none;
            }
        
            .s2Imgs{
                .s2ImgsTerceira2 {
                    display: none;
                }
            }
        }

        .s3 {
            background-image: none;
            height: 0;
            
            .s3Btn {
                display: none;
            }
         
            .s3Titulo {
                display: none;
            }
        }
    }
}

@media(max-width: 968px){
    .homeContainer {
        .s2 {
            .s2Titulo {
                font-size: 32px;
                margin-top: 50px;
            }

            .s2Filtros {
                flex-wrap: wrap;
            }

            .s2Imgs {
                gap: 20px;
                
                .s2ImgsTerceira {
                    display: none;
                }
            }

            .s2Imgs2 {
                gap: 20px;

                .s2ImgsTerceira2 {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 830px) {
    .homeContainer {
        .footer {
            flex-wrap: wrap;
            margin-top: 50px;
        }
    }
}

@media(max-width: 500px){
    .homeContainer {
        .s2 {
            .s2Imgs {
                gap: 5px;
                
                .s2ImgsContainerDentro {
                    justify-content: center;
                    gap: 10px;
                }
            }
            
            .s2Imgs2 {
                .s2ImgsContainerDentro2 {
                    justify-content: center;
                    gap: 10px;
                }
            }
        }
    }
}
