@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.menuContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        width: 85%;
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto 12px;

        span {
            font-weight: 900;
            font-size: 20px;
            word-break: break-all;
        }

        button {
            cursor: pointer;
        }
    }

    #new {
        font-size: 16px;
        padding: 8px;
        border-radius: 5px;
        border: solid 2px;
        color: black;
        background-color: white;
    }

    .divTable {
        padding: 10px;
        width: 85%;
        height: inherit;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 12px;
            background-color: whitesmoke;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }

        table {
            width: 100%;
            border-spacing: 10px;
            word-break: break-all;
            border-collapse: collapse;
            background-color: rgba(0, 0, 0, 0.1);

            thead {
                background-color: whitesmoke;


                tr {
                    border-bottom: 1px solid rgb(238, 235, 235) !important;
                    
                    th {
                        padding: 5px;
                        text-align: center;
                        margin-bottom: 50px;

                        &.acao {
                            width: 100px !important;
                            text-align: center;
                        }
                    }

                    td {
                        vertical-align: text-top;
                        padding: 6px;
                        max-width: 50px;
                    }
                }
            }

            tbody {
                tr {
                    margin-bottom: 50px;

                    td {
                        text-align: center;

                        white-space: nowrap;
                        max-width: 8ch;

                        overflow: hidden;
                        text-overflow: ellipsis;

                        &.acao {
                            text-align: center;
                        }

                        button {
                            border: none;
                            outline: none;
                            background: transparent;

                            i {
                                font-size: 25px;

                                &:first-child {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }   
            }        
        }
    }

    .modal-container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 999;
        align-items: center;
        justify-content: center;
    }

    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        background-color: white;
        border-radius: 10px;
        width: 50%;

        label {
            font-size: 14px;
            width: 100%;
        }

        input {
            width: 100%;
            outline: none;
            padding: 5px 10px;
            width: 100%;
            margin-bottom: 20px;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        button {
            width: 100%;
            margin: 10px auto;
            outline: none;
            border-radius: 20px;
            padding: 5px 10px;
            width: 100%;
            border: none;
            background-color: rgb(0, 0, 0);
            color: white;
        }
    }


    .active {
        display: flex;
    }

    .active .modal {
        animation: modal .4s;
    }

    .acoes {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media (max-width: 700px) {
    body {
        font-size: 10px;
    }

    .menuContainer {
        .header {
            span {
                font-size: 15px;
            }
        }
    
        #new {
            padding: 5px;
            font-size: 10px;
        }
    }

    thead tr th.acao {
        width: auto !important;
    }

    td button i {
        font-size: 20px !important;
    }

    td button i:first-child {
        margin-right: 0;
    }

    .modal {
        width: 90% !important;
    }

    .modal label {
        font-size: 12px !important;
    }
}